* {
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  outline-offset: 4px;
  text-decoration: none;
}

:root {
  font-family: 'Josefin Sans';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */

  /* Primary */
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(to bottom right, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
 
  --radius: 5px;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 16px 0px;
  --check-size: 20px;
  --item-height: 52px;
}

.light-mode {
  --VeryLightGray:        hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue:     hsl(233, 11%, 84%);
  --DarkGrayishBlue:      hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue:  hsl(235, 19%, 35%);

  --clr-light:      var(--VeryLightGray);
  --clr-dark:       var(--VeryDarkBlue);

  --clr-foreground: var(--VeryDarkGrayishBlue);
  --clr-background: var(--VeryLightGray);

  --clr-primary:    var(--VeryLightGray);
  --clr-secondary:  var(--LightGrayishBlue);
  --clr-terciary:   var(--DarkGrayishBlue);
  --clr-accent:     var(--BrightBlue);

  --background-image: url('./assets/images/bg-mobile-light.jpg')
}

.dark-mode {
  --VeryDarkBlue:            hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue:        hsl(234, 39%, 85%);
  --LightGrayishBlue-hover:  hsl(236, 33%, 92%);
  --DarkGrayishBlue:         hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue1:    hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue2:    hsl(237, 14%, 26%);

  --clr-light:      var(--VeryLightGray);
  --clr-dark:       var(--VeryDarkBlue);

  --clr-foreground: var(--LightGrayishBlue);
  --clr-background: var(--VeryDarkBlue);

  --clr-primary:    var(--VeryDarkDesaturatedBlue);
  --clr-secondary:  var(--VeryDarkGrayishBlue2);
  --clr-terciary:   var(--VeryDarkGrayishBlue1);
  --clr-accent:     var(--BrightBlue);

  --background-image: url('./assets/images/bg-mobile-dark.jpg');
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100dvw;
  min-width: 375px;
  background-color: var(--clr-background);
}

.upper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 375px; */
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: var(--background-image);
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
  min-width: 325px;
  top: 25px;
  left: 25px;
  right: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 17px;

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  
    .title {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 10px;
    }
  
    .mode-toggle img {
      display: flex;
      height: 20px;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        scale: 110%;
      }

      &:active {
        scale: 90%;
      }
    }
  }

  .new-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--clr-primary);
    height: 49px;
    padding-inline: 20px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);

    .todo-check {
      display: flex;
      align-items: center;

      .check {
        border: 1px solid var(--clr-secondary);
        background-color: transparent;
        border-radius: 50%;
        height: var(--check-size);
        width:  var(--check-size);
      }

      & button:hover {
        border: 1px solid var(--clr-accent);
        background-color: var(--clr-secondary);
        cursor: pointer;
      }
    }

    & input {
      border: none;
      background-color: transparent;
      color: var(--clr-foreground);
      font-family: inherit;
      font-size: 0.8rem;
      padding-inline: 12px;
      padding-top: 4px;
      width: 100%;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }


  }
}

.items {
  display: flex;
  gap: 1px;
  flex-direction: column;
  background-color: var(--clr-secondary);
  border-radius: var(--radius);
  margin-top: 15px;
  line-height: 1;
  box-shadow: var(--box-shadow);

  .todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clr-primary);
    padding-inline: 21px;
    height: var(--item-height);
    /* padding-block: 16px; */
    font-size: 0.8rem;

    &:first-child {
      border-top-left-radius:  var(--radius);
      border-top-right-radius: var(--radius);
    }

    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--clr-secondary);
      border-radius: 50%;
      height: var(--check-size);
      width:  var(--check-size);
      
      &:hover {
        border: 1px solid var(--clr-accent);
        cursor: pointer;
      }

      & img {
        background-color: transparent;
        height: 8px;
        width: 10px;
      }

      &.checked {
        background: var(--CheckBackground);
        border: 1px solid var(--clr-terciary);
      }
    }

    .text {
      font-size: inherit;
      width: 88%;
      margin-left: 12px;
      color: var(--clr-foreground);

      &.checked {
        color: var(--clr-secondary);
        text-decoration: line-through;
      }
    }

    .cross {
      display: flex;
      align-items: center;
      justify-content: center;
    
      & img {
        height: 12px;
      }

      &:hover {
        cursor: pointer;
        scale: 110%;
      }

      &:active {
        scale: 90%;
      }
    } 
    
    &:hover {
      cursor: move;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  padding-inline: 24px;
  padding-block: 15.5px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  border-top: 1px solid var(--clr-secondary);
  border-bottom-left-radius:  var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: var(--box-shadow);

  .items-left {
    font-size: inherit;
  }

  .clear-completed {
    font-size: inherit;

    &:hover {
      color: var(--clr-foreground);
      cursor: pointer;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 80px;
  padding-block: 18.5px;
  background-color: var(--clr-primary);
  color: var(--clr-terciary);
  font-size: 0.8rem;
  font-weight: 900;
  border-radius: var(--radius);
  line-height: 1;
  box-shadow: var(--box-shadow);

  & div[class^="opt"] {
    font-size: inherit;
    &.active {
      color: var(--clr-accent);
    }

    &:hover {
      color: var(--clr-foreground);
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-secondary);
  font-weight: 700;
  padding-top: 42px;
  font-size: 0.9rem;
}

.empty-space {
  height: 100%;
}

.attribution { 
  text-align: center;
  font-size: 0.5rem;
  color: var(--clr-foreground);

  & a { 
    font-size: inherit;
    color: var(--clr-accent);
  }
}


/* ============================================================================== */
@media (width > 375px) {
  * {
    font-size: 22px;
  }

  :root {
    --check-size: 25px;
    --item-height: 2.89rem;
  }

  .light-mode {
    --background-image: url('./assets/images/bg-desktop-light.jpg');
  }
  .dark-mode {
    --background-image: url('./assets/images/bg-desktop-dark.jpg');
  }

  .upper {
    height: 300px;
  }

  .header {
    padding-top: 19px;

    .new-todo {
      height: 64px;
    }
  }

  .container {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    .title-bar {
      margin-bottom: 30px;
    }

    .items {
      margin-top: 24px;

      .todo-item {
        padding-block: 0;

        .text {
          margin-left: 25px;
        }

        .cross img {
          height: 19px;
        }
      }
    }
  }

  .totals {
    padding-block: 15px;
    font-size: 0.6rem;
  }

  .totals .menu {
    width: 166px;
    padding: 0;
    margin-left: 37px;
    box-shadow: none;
    font-size: 0.66rem;
  }

  .footer {
    padding-top: 34px;
    font-size: 0.59rem;
  }
}